
<div class="subpage sectionpage">

      <div class="container">
          <form method="post" id="resetpasswordform" novalidate action="" onsubmit="return resetpasswordvalidate();" > {% csrf_token %}
              <div class="col-xs-6 center-block">
                <div class="form-wrap">
                  <h1>Reset Password</h1>
                  <p>Enter and confirm your new password below.</p>
                  <div class="form-row">
                    <label class="floating-item" data-error="Please enter your password">
                      <input type="password" name="password" id="password" class="floating-item-input input-item" value="" />
                      <span class="floating-item-label">Password</span>
                      <span class="error-message" id="errpassword"></span>
                    </label>
                  </div>
                  <div class="form-row">
                    <label class="floating-item" data-error="Please re-enter your re-enter password">
                      <input type="password" name="confirm_password" id="confirm_password" class="floating-item-input input-item" value="" />
                      <span class="floating-item-label">Re-enter Password</span>
                      <span class="error-message" id="errconfirmpass"></span>
                      <span class="error-message" id="errconmpass"></span>                      
                    </label>
                  </div>      
                </div>
                <input type="hidden" name="next"value="{{next}}">
                <!-- <input type="submit" class="button secondary-button"  value="Submit"> -->
                <button class="secondary-button button">Submit</button>
              </div>
          </form>
      </div>
    </div>
                  
